openapi: 3.2.0
info:
  title: Paragon Integrations API
  description: Unofficial, community-authored OpenAPI description of Paragon's embedded integration platform APIs, compiled by API Evangelist from Paragon's public documentation.
  version: '1.0'
  contact:
    name: Paragon Support
    url: https://docs.useparagon.com/
  termsOfService: https://www.useparagon.com/legal/terms-of-service
servers:
- url: https://zeus.useparagon.com
  description: Connect API (users, credentials, integrations, workflow triggers, proxy)
- url: https://actionkit.useparagon.com
  description: ActionKit API (list and run prebuilt actions)
- url: https://proxy.useparagon.com
  description: Proxy API (alternate host for passthrough third-party requests)
- url: https://sync.useparagon.com
  description: Managed Sync API (data ingestion pipelines)
- url: https://managed-sync.useparagon.com
  description: Managed Sync records and Permissions API
security:
- ParagonUserToken: []
tags:
- name: Integrations
  description: Integrations enabled for a Paragon project.
paths:
  /projects/{projectId}/sdk/integrations:
    get:
      operationId: listIntegrations
      tags:
      - Integrations
      summary: List integrations enabled for the project
      description: Returns the list of integrations enabled for the Paragon project identified in the path, including Connect Portal configuration and the workflows associated with each integration.
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: The integrations enabled for the project.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Integration'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid Paragon User Token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      description: The Paragon project identifier.
      schema:
        type: string
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    Integration:
      type: object
      properties:
        type:
          type: string
          description: The integration type slug (e.g. salesforce).
        name:
          type: string
        connectPortalEnabled:
          type: boolean
        workflows:
          type: array
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    ParagonUserToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'A Paragon User Token: an RS256-signed JWT whose subject identifies the end user. Sign it with the private signing key from Settings > SDK Setup in the Paragon dashboard; Paragon verifies it with the matching public key.'
