openapi: 3.2.0
info:
  title: Paragon Users API
  description: Unofficial, community-authored OpenAPI description of Paragon's embedded integration platform APIs, compiled by API Evangelist from Paragon's public documentation.
  version: '1.0'
  contact:
    name: Paragon Support
    url: https://docs.useparagon.com/
  termsOfService: https://www.useparagon.com/legal/terms-of-service
servers:
- url: https://zeus.useparagon.com
  description: Connect API (users, credentials, integrations, workflow triggers, proxy)
- url: https://actionkit.useparagon.com
  description: ActionKit API (list and run prebuilt actions)
- url: https://proxy.useparagon.com
  description: Proxy API (alternate host for passthrough third-party requests)
- url: https://sync.useparagon.com
  description: Managed Sync API (data ingestion pipelines)
- url: https://managed-sync.useparagon.com
  description: Managed Sync records and Permissions API
security:
- ParagonUserToken: []
tags:
- name: Users
  description: Authenticated user and connected integration state.
paths:
  /projects/{projectId}/sdk/me:
    get:
      operationId: getAuthenticatedUser
      tags:
      - Users
      summary: Get the authenticated user and integration state
      description: Returns the currently authenticated Paragon user (identified by the sub of the Paragon User Token) together with the state of each of their connected integrations. Equivalent to the SDK getUser() method.
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: The authenticated user and connected integration state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      description: The Paragon project identifier.
      schema:
        type: string
  schemas:
    IntegrationState:
      type: object
      properties:
        enabled:
          type: boolean
        configuredWorkflows:
          type: object
          additionalProperties: true
        credentialStatus:
          type: string
          enum:
          - VALID
          - INVALID
          - NOT_CONNECTED
    ConnectedUser:
      type: object
      properties:
        userId:
          type: string
          description: The end-user identifier (the JWT subject).
        integrations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationState'
          description: Map of integration type to that integration's connection state.
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid Paragon User Token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ParagonUserToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'A Paragon User Token: an RS256-signed JWT whose subject identifies the end user. Sign it with the private signing key from Settings > SDK Setup in the Paragon dashboard; Paragon verifies it with the matching public key.'
